<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bin.david.smarttable">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AnnotationModeActivity" />
        <activity android:name=".NetHttpActivity" />
        <activity android:name=".ParseModeActivity" />
        <activity android:name=".TableListActivity" />
        <activity android:name=".TanTanActivity" />
        <activity android:name=".PagerModeActivity" />
        <activity android:name=".ManyActivity" />
        <activity android:name=".AlignActivity" />
        <activity android:name=".ArrayModeActivity" />
        <activity android:name=".MultParseModeActivity" />
        <activity android:name=".SeatModeActivity" />
        <activity android:name=".JXLExcelModeActivity" />
        <activity android:name=".POIExcelModeActivity" />
        <activity android:name=".MergeModeActivity" />
        <activity android:name=".RefreshActivity" />
        <activity android:name=".MinModeActivity" />
        <activity android:name=".ArrayColumnModeActivity" />
        <activity android:name=".MapModeActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".GridModeActivity"/>
        <activity android:name=".AvatorModeActivity"/>
        <activity
            android:name=".ChoiceExcelActivity"
            android:label="@string/title_activity_choice_excel"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>